


/* ------------------ ProductPage ------------------ */

.filter-button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: var(--primary);
}

.filter-button:hover {
    letter-spacing: 3px;
    background-color: rgba(80, 80, 80, 1);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(80,80,80) 0px 7px 10px 0px;
}

.filter-button:active {
    letter-spacing: 3px;
    background-color: rgba(80, 80, 80, 0.6);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(80 80 80) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 100ms;
}
.apresentation-button {
    padding: 11px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--primary);
}
.filter-button-div {
    text-align: center;
    width: 100%;
    display: flex;
    align-content: center;
    overflow: auto;
    justify-content: center;
    padding-bottom: 25px;
}

.apresentation-div {
    text-align: right;
    width: 100%;
    display: flex;
    align-content: center;
    overflow: auto;
    justify-content: center;
    padding-bottom: 25px;
}

.content-div-product {
    width: 90%;
    max-width: 1200px;
    margin : auto;
    display : grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.content-div-product-grid {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* ------------------ Contact ------------------ */

.content {
    width: 80%;
    min-height: 120vh;
    height: 100vh;
    margin: auto;
    text-align: center;
}


.contact-title {
    margin-top: 50px;
    font-size: 50px;
}

.contact-content {
    text-align: left;
    width: 70%;
    margin: auto;
}

.contact-subtitle {
    font-size: 40px;
}

.contact-description {
    color: #9d9d9d;
    font-size: 17px;
    width: 55%;
}

.contact-link {
    font-size: 19px;
    color: black;
    font-weight: bold;
}

@media (max-width: 600px){

    .content {
            width: 90%;
            height: 100%;
            margin: auto;
            text-align: center;
    }
    .content-div {
        width: 100%;
    }
    .iframe{
        width: fit-content;
    }

    .filter-button:hover {
        box-shadow: unset;
    }

    .filter-button:active {

    }
}


@media (max-width: 1310px) {


    .iframe {
        width: 100%;
    }
}






/* ------------------ About ------------------ */

.about-outer-div {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.content#about {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
}

.about-image {
    width: 100%;
}

.about-image-div {
    width: 40%;
    margin-right: 50px;
}

.about-description-div {
    width: 60%;
    text-align: left;
    
}

.about-description {
    color: #666;
    font-size: 20px;
}
.about-title {
    font-size: 55px;
    font-weight: lighter;
}

@media (max-width: 600px){
    .about-outer-div{
        display: block;
    }
    .about-image-div {
        width: 100%;
    }

   
}
@media (max-width: 1310px) {
    .about-description {
        font-size: 20px;
    }
    .about-image-div {
        width: 70%;
        margin: auto;
    }
    .about-outer-div {
        display: block;
    }
    .about-description-div {
        width: 100%;
    }

}











/* ----------------------  ANIMATIONS ---------------------- */



.animationCenter1s {
    transform: translateX(-100vw);
    animation: slideToCenter 1s ease-out forwards, 3s ease-in-out infinite;
}

.duration1s {
    animation-timeline: 5s;
}


.delay1s {
    animation-delay: 1s;
}
.delay2s {
    animation-delay: 1s;
}
.delay3s {
    animation-delay: 1s;
}








@keyframes slideToCenter {
    to {
        transform: translateX(0);

    }
}

@media (max-width: 600px){
    .filter-button {
        font-size: 10px;
        padding: 14px;
    }
    .filter-button:hover {
        letter-spacing: 3px;
        background-color: rgba(80, 80, 80, 1);
        color: hsl(0, 0%, 100%);
        box-shadow: unset;
    }

    .filter-button:active {
        letter-spacing: 3px;
        background-color: rgba(80, 80, 80, 0.6);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(80 80 80) 0px 0px 0px 0px;
        transform: unset;
        transition: unset;
    }

    .filter-button-div {
        display: block;
        text-align: center;
        width: 100%;
        margin: 2px !important;
        align-content: center;
    }
    .filter-button-div button {
        margin: 5px;
    }
}
